.container {
  background-color: #8ea6e2;
  margin: 35px;
  margin-left: 132px;
  padding: 30px;
  max-width: 75%;
  border-radius: 10px;
  display: block;
  border: 2px solid #445275;
}

h1 {
  text-align: center;
  color: #445275;
}

.card {
  width: 100px;
  height: 100px;
  background: #dde7ff;
  display: inline-block;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid #445275;
}

.card:hover {
  box-shadow: inset 0 0 10px #6479aa;
}

.row {
  text-align: center;
}

.red {
  background-color: #c70202;
}

.orange {
  background-color: #f99415;
}
.yellow {
  background-color: #f2e105;
}
.green {
  background-color: #6bd554;
}
.blue {
  background-color: #289bdd;
}
.teal {
  background-color: #179093;
}
.pink {
  background-color: #d772b4;
}
.purple {
  background-color: #80008047;
}

.color-hidden {
  background-color: #dde7ff;
}
